uvicorn==0.27.1
pydantic-settings==2.1.0
python-dotenv==1.0.1
psycopg2-binary==2.9.9
sqlalchemy==2.0.25
loguru==0.7.2
alembic==1.13.1 

torch
faiss-gpu
boto3
fastapi
pydantic
langgraph
fasttext
langchain
langchain-core
langchain-openai
pandas
sentence-transformers
numpy<=2.0.0